body {
    ::-webkit-scrollbar {
        width: 5px;
        padding: 2px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: $color__grey-dark;
        margin: 5px;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background-color: $color__grey-light;
        border-radius: 8px;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background-color: $color__pink-light;
    }
}